<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>E-learn kicsit másképp</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/2.5.1/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="app.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<div id="doc2" class="yui-t1">
   <div id="hd">
		<h1>E-learn</h1>
			<div id="navcontainer">
			<ul id="navlist">
			<li id="active"><a href="#" id="current">Item one</a></li>
			<li><a href="#">Item two</a></li>
			<li><a href="#">Item three</a></li>
			<li><a href="#">Item four</a></li>
			</ul>
			</div>
			<div style="clear:both;"></div>
		</div>
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b"><div class="yui-g">
		itt fog majd állni az infó
	</div>
</div>
	</div>
	<div class="yui-b">nav</div>
	
	</div>
   <div id="ft">Footer is here.</div>
</div>
</body>
</html>
