body, html{
	background:#005D73;
	height:100%;
}
#doc4{
	margin-top:2em;
	background:#fff;
	border:1px solid grey;
}
#hd{
	padding:2em 2em 0em 2em;
}
#bd{
	padding:2em;
}
#ft{
	padding:1em 2em;
}
.app-header{
	background:#005d73;
	color:#fff;
	padding:1em;
}
.app-top-menu{
	float:right;
	display:inline;
}
.app-top-menu a,
.app-top-menu a:hover, 
.app-top-menu a:visited{
	color:#ffee00;
        font-weight:bold;
}
h1{
	font-size:2em;
}
h2{
	font-size:1.5em;
}
h3{
	font-size:1.3em;
}
p{
	padding:0.6em 0;
}

.readme{
  margin:2em;
}



/*Navbar*/
#navcontainer ul
{
text-align: left;
padding-bottom: 5px;
padding-top: 5px;
padding-left: 0;
margin-top: 0;
/* cancels gap caused by top padding in Opera 7.54 */
margin-left: 0;
margin-bottom:2em;
background-color: #036;
color: white;
width: 100%;
font-family: Arial,Helvetica,sans-serif;
line-height: 18px;
/* fixes Firefox 0.9.3 */
}

#navcontainer ul li
{
display: inline;
padding-left: 0;
padding-right: 0;
padding-bottom: 5px;
/* matches link padding except for left and right */
padding-top: 5px;
}

#navcontainer ul li a
{
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
text-decoration: none;
border-right: 1px solid #fff;
}

#navcontainer ul li a:hover
{
background-color: #369;
color: white;
}

/*#navcontainer #active { border-left: 1px solid #fff; }*/
