<% content_for :navigation do %>
  <%= link_to('Főoldal', root_url)  %> >
  <%= link_to('Tanfolyam', :controller => 'home', :action => 'course')  %>
<% end %>

<h1>Retek is NOT my friend.</h1>
<p>retek is my friend.</p>
<p>retek is my friend.</p>
<p>retek is my friend.</p>
<p>retek is my friend.</p>
<p>retek is my friend.</p>
<p>retek is my friend.</p>
<p>retek is my friend.</p>

<div class='highlight-box'>
  <%= link_to('Jöhet a gyakorlati feladat!', {:controller => 'learn'}, :popup => true )  %>
</div>