<div class='readme'>
  <h2>Áttekintés</h2>
  <p>Ez az e-learnining környezet speciálisan a programozás tanulásához lett kialakítva.</p>
  <ul>
    <li>Nem kell telepíteni semmit!</li>
    <li>Nem kell várni az oktató visszajelzésére!</li>
    <li>Folyamatosan követheted az előrehaladásodat!</li>
  </ul>
  <p>Hiszünk abban, hogy cselekedve lehet a legjobban tanulni.</p>
</div>