<div class='readme'>
  <h2>Overview</h2>
  <p>This is an e-learning tool specially designed for learn programming on-line. You have all tools and help to get started quickly.</p>
  <ul>
    <li>You dont need to install anything!</li>
    <li>You dont need to wait for a teacher!</li>
    <li>You can track Your advancement in real time!</li>
  </ul>
  <p>We believe the best way to learn something is to use it. So this course based on the pedagogy of <span>Learning by Doing</span></p>
  <p>
    <%= image_tag 'il_html.jpg' %> <%= image_tag 'il_java.jpg' %> <%= image_tag 'il_ajax.jpg' %> <%= image_tag 'il_xml.jpg' %>
  </p>
</div>