<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="./ext/resources/css/ext-all.css">
  <link rel="stylesheet" type="text/css" href="./css/icons.css">
  <!-- <link rel="stylesheet" type="text/css" href="./css/webpage.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="./stylesheets/application.css"> -->
  <link rel="stylesheet" type="text/css" href="./css/filetree.css">
  <link rel="stylesheet" type="text/css" href="./css/filetype.css">
  <link rel="stylesheet" type="text/css" href="./css/famflag.css">
  <!-- <link rel="stylesheet" type="text/css" href="./css/Ext.ux.IconCombo.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="./css/empty.css" id="theme"> -->
	<!-- <link rel="shortcut icon" href="../img/extjs.ico"> -->

  <script type="text/javascript" src="./ext/adapter/ext/ext-base.js"></script>
  <script type="text/javascript" src="./ext/ext-all-debug.js"></script>
  <!-- // <script type="text/javascript" src="./js/WebPage.js"></script> -->
  <script type="text/javascript" src="./js/Ext.ux.form.BrowseButton.js"></script>
  <script type="text/javascript" src="./js/Ext.ux.FileUploader.js"></script>
  <script type="text/javascript" src="./js/Ext.ux.UploadPanel.js"></script>
  <script type="text/javascript" src="./js/Ext.ux.FileTreeMenu.js"></script>
  <script type="text/javascript" src="./js/Ext.ux.FileTreePanel.js"></script>
  <!-- // <script type="text/javascript" src="./js/Ext.ux.ThemeCombo.js"></script> -->
  <!-- // <script type="text/javascript" src="./js/Ext.ux.IconCombo.js"></script> -->
  <!-- // <script type="text/javascript" src="./js/Ext.ux.LangSelectCombo.js"></script> -->
  <script type="text/javascript" src="./js/AppLayout.js"></script>
  <script type="text/javascript" src="./js/filetree.js"></script>


  <title id="page-title">Ext.ux.FileTreePanel</title>
</head>

<body>
	<div id="treepanel">tree</div>
	<div id="side">side</div>
</body>
</html>